<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.customizedworkout">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ExerciceActivity"
            android:theme="@style/AppTheme2"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".MyWorkoutActivity"
            android:theme="@style/AppTheme2"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/settings"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme2"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".LoginActivity"
            android:theme="@style/AppTheme2"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ResetPasswordActivity"
            android:theme="@style/AppTheme2"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".TipsActivity"
            android:theme="@style/AppTheme2"
            android:screenOrientation="portrait"/>
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".WorkoutListActivity"
            android:screenOrientation="portrait"
            android:label="Workout List"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme2" />
        <activity android:name=".SignUpActivity" />
    </application>

</manifest>